

<br> <br> <br> <br>

<h1> <%= @document.name %> </h1>

<p> possible content </p>

 <% if @document.attachment.representable? %>
      <%= link_to rails_blob_path(@document.attachment, disposition: "attachment") do %>
        <%= image_tag @document.attachment.representation(resize_to_limit: [100, 100]) %>
      <% end %>
      <% else %>
        <%= link_to rails_blob_path(@document.attachment, disposition: "attachment") do %>
          <%= image_tag "confusedtravolta.jpg", alt: "Download file" %>
        <% end %>
      <% end %>
      

      <p>Tags: <%= raw @document.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>     

      <ul> 
  <li> <%= link_to "Edit", edit_document_path(@document) %> </li>
      </ul>


    <%= link_to "home", index_path(@document) %>
