



<h1 class="text-xl text-red-500 text-center my-8"> <%= @document.name %> </h1>

<div class = "mx-auto max-w-sm text-center"> 
<button class="text-lg font-semibold rounded-full px-4 py-1 border border-black text-center hover:bg-black hover:text-white"> <%= link_to "Home", documents_path %>  </button>
</div>


<br><br>
<div class = "mx-auto px-auto container text-center max-w-sm rounded-lg shadow-lg">
<% if @document.attachment.representable? %>
  <%= link_to rails_blob_path(@document.attachment, disposition: "attachment") do %>
    <%= image_tag @document.attachment.representation(resize_to_limit: [500, 500]) %>
  <% end %>
<% else %>
  <%= link_to rails_blob_path(@document.attachment, disposition: "attachment") do %>
    <%= image_tag "confusedtravolta.jpg", alt: "Download file" %>
  <% end %>
<% end %>
</div>
<br>
<br>
<p class="text-l text-center">Tags: <%= raw @document.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>     
<br>
<br>
<div class = "text-center">
<button class= "font-semibold rounded-full px-4 py-1 border border-black hover:bg-black hover:text-white text-center "> <%= link_to "Edit", edit_document_path(@document) %> </button> 
   <button class= "font-semibold rounded-full px-4 py-1 border border-black hover:bg-black hover:text-white text-center ">  <%= link_to "Destroy", document_path(@document), method: :delete, data: {confirm: "Truly, you wish to be done with this forever?"} %> </button> 
</div>

